<div toggle #myToggle="toggle" #myWithToggle="toggleProvider"
     (toggle)="onToggle(myLabel, $event)"
     [toggleLabel]="myLabel"
     [withToggleLabel]="someOtherText">

  <input [(ngModel)]="myLabel" /> <br/>
  {{myLabel}}:
  <toggle-on>On</toggle-on>
  <toggle-off>Off</toggle-off>
  <toggle-button></toggle-button>
  <p>toggleLabel: {{myToggle.label}}</p>
  <p>withToggleLabel: {{myWithToggle.label}}</p>

</div>



<!--
<h2>Basic</h2>
<div toggle #firstToggle="toggle" (toggle)="onToggle('first', $event)">
  <p>
    First:
    <toggle-on>On</toggle-on>
    <toggle-off>Off</toggle-off>
    <toggle-button></toggle-button>
  </p>

  <toggle #secondToggle="toggle" (toggle)="onToggle('second', $event)">
    <p>
      Second:
      <toggle-on>On</toggle-on>
      <toggle-off>Off</toggle-off>
      <toggle-button></toggle-button>
    </p>
  </toggle>
</div>

<h2>Explicit References</h2>
<p [toggleProvider]="firstToggle">
  First:
  <toggle-on>On</toggle-on>
  <toggle-off>Off</toggle-off>
  <toggle-button></toggle-button>
</p>
<p [toggleProvider]="secondToggle">
  Second:
  <toggle-on>On</toggle-on>
  <toggle-off>Off</toggle-off>
  <toggle-button></toggle-button>
</p>

<h2>Custom Components</h2>
<div [toggleProvider]="firstToggle">
  <app-labelled-state toggleName="First"></app-labelled-state>
  <app-labelled-button toggleName="First"></app-labelled-button>
</div>
<app-labelled-state toggleName="Second" [toggleProvider]="secondToggle"> </app-labelled-state>
<app-labelled-button toggleName="Second" [toggleProvider]="secondToggle"> </app-labelled-button>
-->
